{% extends 'base.html' %}
{% block breadcrumb %}
<li>Reports Page</li>
{% endblock %}
{% block stage %}
<div class="banner">
  <div class="banner_content">
    <h3>Reports</h3>
    <div class="select_banner row">
      <div class="col-5">
        <a href="{% url 'micro_admin:generalledger' %}" class="pull-right branch">General Ledger</a>
        {% comment %} <button type="button" class="pull-right branch">General Ledger</button> {% endcomment %}
      </div>
      <div class="col">
        <span class="select_or">Or</span>
      </div>
      <div class="col-5">
        <a href="{% url 'micro_admin:viewdaybook' %}" class="pull-left branch">Day Book</a>
        {% comment %} <button type="button" class="pull-left branch">Day Book</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% endblock stage %}